* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(190, 219, 147);
}
div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.changer {
  background: transparent;
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid white;
}
